body {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3567)),
		url(http://66.media.tumblr.com/541a954ff3a94adbd767b2d668c326e7/tumblr_mjdefwolTn1qlu8tno1_500.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: "Lato", "Aril", sans-serif;
	color: white;
}

h1 {
	color: #ff0000;
	text-transform: uppercase;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin: 0 0 25px 0;
	font-size: 16px;
}

button {
	background-color: #ff0000;
	border: 1px solid green;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

button:hover {
	background-color: #4CAF50;
	color: white;
}

table {
	border: 1px solid #000000;
	border-collapse: collapse;
	width: 90%;
	background-color: red;
}

th, td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #4CAF50;
	color: yellow;
}